.article_info .title

.article_info .title{
    margin-bottom: 20px;
}

#div_digg {
    float: right;
    margin-bottom: 10px;
    margin-right: 30px;
    font-size: 12px;
    width: 85px;
    text-align: center;
    margin-top: 10px;
}

.diggit {
    float: left;
    /*background: url("/app01/static/font/dianzan_1.png") no-repeat center;*/
    text-align: center;
    cursor: pointer;
    margin-top: 2px;
    padding-top: 5px;
}

.num{
    /*text-align: center;*/
    margin-top: 5px;
    /*margin-right: 0px;*/
    padding-top: 10px;

}

.buryit {
    float: right;
    /*margin-left: 20px;*/
    /*background: url("/app01/static/font/cai_1.png") no-repeat;*/
    text-align: center;
    cursor: pointer;
    margin-top: 2px;
    padding-top: 5px;
}

.clear{
    clear: both;
}

input .author{
    background-repeat: no-repeat;
    border: 1px solid #cccccc;
    padding: 4px 4px 4px 30px;
    width: 300px;
    font-size: 13px;
    background-position: 3px -3px;
}

/*.reply{*/
/*    cursor: pointer;*/
/*}*/