{% extends 'publicbase.html' %}
{% block content %}
   <div class="article_list" >
       {% for article in order_10_list %}
       <div class="article-item clearfix">
{#            <dl>#}
{#                <dt></dt>#}
{#                <dd>...</dd>#}
{#            </dl>#}
            <h4><a href="/{{ article.account }}/article/{{ article.pk }}">{{ article.title }}</a></h4>
            <div class="article-desc">
                <span>
                    {{ article.decsribe }}
                </span>
            </div>
            <div class="small pub_info pull-right">
                <span><a href="/{{ article.account }}">{{ article.account }}</a></span> &nbsp;&nbsp;&nbsp;
                <span>发布于：&nbsp;{{ article.create_date|date:"Y-m-d" }}</span>&nbsp;
                <span class="glyphicon glyphicon-comment">评论（{{ article.comment_count }}）</span>&nbsp;&nbsp;&nbsp;
                <span class="glyphicon glyphicon-thumbs-up">点赞（{{ article.up_count }}）</span>&nbsp;&nbsp;&nbsp;
            </div>

       </div>
       {% endfor %}
   </div>
{% endblock %}