<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>Login</title>

</head>

<body>


    <link rel="stylesheet" type="text/css" href="/static/css/login.css">
   <form action="/app01/login/" method="post">

      {% csrf_token %}

      <p>

          <label>用户名</label>

          <input name="user" type="text">

      </p>

      <p>

          <label>密码</label>

          <input name="pwd" type="pwd">

          <input type="submit" value="提交" >

          <span style="color: #ff0000;">{{error_msg }}</span>

      </p>

  </form>

 </body>