{% extends 'editbase.html' %}
{% block content %}
    {% csrf_token %}
    <ul class="list-group comment_list">
        {% for article in article_list %}
            <li class="list-group-item">
                <div>
                    <a href="/{{ article.account }}/article/{{ article.pk }}">{{ article.title }}</a>
                    <span>({{ article.create_date|date:"Y-m-d h:m" }})</span>&nbsp;
{#                                    <a>{{ article.pk }}</a>#}
                </div>
                <div class="text-right" id="A+{{ article.pk }}">
                    <a href="/myedit/articleedit/{{ article.pk }}" style="cursor: pointer" class="reply_comment">修改</a>
{#                    <a style="cursor: pointer" class="reply_comment delete">删除</a>#}
                    <a style="cursor: pointer" class="reply_comment delete" href="/delete_article/{{ article.pk }}">删除</a>
{#                    <a style="cursor: pointer" class="reply_comment delete" onclick="confirm_delete()" articleid="{{ article.pk }}">删除</a>#}
                </div>
            </li>
        {% endfor %}
    </ul>
{#    <script>#}
{#        // 删除文章的函数#}
{#        function confirm_delete() {#}
{#            // 调用layer弹窗组件#}
{#            layer.open({#}
{#                // 弹窗标题#}
{#                title: "确认删除",#}
{#                // 正文#}
{#                content: "确认删除这篇文章吗？",#}
{#                // 点击确定按钮后调用的回调函数#}
{#                yes: function(index, layero) {#}
{#                    // 指定应当前往的 url#}
{#                    location.href="/delete_article/{{ article.pk }}"#}
{#                },#}
{#            })#}
{#        }#}
{#    </script>#}


{#    <script>#}
{#        $('.delete').click(function (){#}
{#            $.ajax({#}
{#                url:"/delete_article/",#}
{#                type:"post",#}
{#                data:{#}
{#                    "csrfmiddlewaretoken":$("[name='csrfmiddlewaretoken']").val(),#}
{#                    "article_id": "{{ article.pk }}",#}
{#                },#}
{#                success: function (){#}
{##}
{#                }#}
{#            })#}
{#        })#}
{#    </script>#}
{% endblock %}






